<div id="content">
  <% @events.sort_by{|e| e.start_time}.each do |event| %> 

  <!-- New Event -->

  <div id="event-<%=event.id %>" style="position:relative;" class="span4 event-container">
    <div class="event-filter image-filter" style="background-image: url(<%=event.image %>);">
    </div>
    <div class="event-filter color-filter filter<%= event.filter %>" style="" >
    </div>
    <div id="event-details-container" class="event-filter" style="position:relative; z-index: 4; top: 0; background: transparent;">
      <div id="event-details" class="container-fluid">
        <div class="row-fluid event-title-container">
          <div class="span12">
            <h2 class="event-title"> <%= event.name %> </h2>
          </div>
        </div>
        <div class="row-fluid event-detail-container">
          <div class="span12">
            <div class="row-fluid event-detail">
              <div class="span2">
                <i class="icon-calendar icon-large"></i>
              </div>
              <div class="span10">
                <h5 class="event-parameter"> 
                  <%= event.start_time.advance(hours: 4).strftime("%A %e %B") %><%= " - " + event.end_time.advance(hours: 4).strftime("%A %e %B") if event.start_time.day != event.end_time.day %> 
                </h5>
              </div>
            </div>
            <div class="row-fluid event-detail">
              <div class="span2">
                <i class="icon-large icon-time"></i>
              </div>
              <div class="span10">
                <h5 class="event-parameter">  
                  <%= event.start_time.advance(hours:4).strftime("%l:%M %p") %> - <%= event.end_time.advance(hours: 4).strftime("%l:%M %p") %>
                </h5>
              </div>
            </div>
            <div class="row-fluid event-detail">
              <div class="span2">
                <i style="margin-left:5px; margin-top:5px;" class="icon-large icon-map-marker"></i>
              </div>
              <div class="span10">
                <h5 class="event-parameter">Location: <%= !event.location.nil? ? event.location :  "N/A" %></h5>
              </div>
            </div>
            <div class="row-fluid event-detail">
              <div class="span2">
                <i class="icon-large icon-user"></i>
              </div>
              <div class="span10">
                <h5 class="event-parameter"> <%= event.user.name %></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12 event-description">
            <span><%= event.blurb %></span>
          </div>
        </div>
        <div class="row-fluid button-container">
          <div class="event-btn-container">
            <span class="attend-btn">
              <% if event.user == current_user #user is the host%>
                <a style="opacity:1" href="#" class="btn btn-info disabled event-btn" id="success-btn" onClick="return false;" >Host</a>
              <% elsif @attendance_keys.include? event.id #user is already attending%>
                <a style="opacity:1" href="#" class="btn btn-success event-btn" id="success-btn" onClick="attendEvent(<%= event.id %>, <%= current_user.id if current_user %>, 0); return false;" >Attending</a>
                <a style="opacity:0; display:none;" href="#" class="btn btn-primary event-btn" id="attend-btn" onClick="attendEvent(<%= event.id %>, <%= current_user.id if current_user %>, 1); return false;" >Attend</a>
              <% else # user has neither attended nor cancelled the event%>
                <a style="opacity:0; display:none;" href="#" class="btn btn-success event-btn" id="success-btn" onClick="attendEvent(<%= event.id %>, <%= current_user.id if current_user %>, 0); return false;" >Attending</a>
                <a style="opacity:1" href="#" class="btn btn-primary event-btn" id="attend-btn" onClick="attendEvent(<%= event.id %>, <%= current_user.id if current_user %>, 1); return false;" >Attend</a>
              <% end %>
                <!-- Dummy Button to hold position -->
              <% if @cancelled_keys.include? event.id #user has cancelled event %>
                <a style="opacity:0; height:30px;" href="#" class="btn btn-primary event-btn">-</a>
              <% else %>
                <a style="opacity:0;" href="#" class="dummy btn btn-primary event-btn">-</a>
              <% end %>
            </span>
          <a href="/events/<%= event.id %>" role="button" data-target="#myModal" data-toggle="modal" class="btn event-btn see-more" id="more-btn" onClick="changeHeader(<%= event.id %>)">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Event -->

  <% end %> 
</div>

