 <% Event.all.each do |event| %> 
            <div class="span4"> 
              <img style="float:left;max-width:50px" alt="School" src="<%= event.user.school.image %>" />
              <%= event.name %>
              <p> <%=event.start_time.strftime("%l:%M %p") %> - <%= event.end_time.strftime("%l:%M %p") %>  <br> 
               by <%= User.find(event.user_id).name %></p> 
              <img style="max-width:200px" alt="School" src="<%= event.image %>" />
 
 
    <div id="images20"> 
      <img src="<%= event.image %>" /> 
    </div> 
 
    <p><%= event.description %></p> 
              <p><a class="btn" href="#">View details &raquo;</a></p> 
  </div> 
<% end %> 

