<html lang="en">
  <head>
    <title>Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "bootstrap.css" %>
    <%= stylesheet_link_tag    "bootstrap-responsive.min.css" %>
    <%= stylesheet_link_tag    "bootstrap.icon-large.css" %>
    <%= stylesheet_link_tag    "style.css" %>


  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right"> 
              
              <table><tr style="color:white">
                  <% if current_user %>
                  <td><%= current_user.name %></td>
                  <td><img src="<%= current_user.display_image %>"></td>
                  <td><img style="max-width:50px" src="<%= current_user.school.image %>"></td>
                  <td><%= link_to "Sign Out", signout_path %>
                    <% else %>
                    <%= form_tag("/sessions/new", method: "post") do %>
                  <td><%= label_tag(:email, "Email Address:") %></td>
                  <td><%= text_field_tag(:email) %></td>
                  <td><input type="image" alt="Register with Facebook" src="/assets/facebook.png" value="Submit"/></td>
                  <% end %>
                  <% end %>
              </tr></table>
            </p>
            <ul class="nav">
              <li><img style="max-width:310px" src="/assets/al-mataqaLogo.gif"/>  </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <%= yield %>
    <!-- Le javascript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= javascript_include_tag "jquery.masonry.min.js" %>
    <%= javascript_include_tag "base.js" %>


  </body>
</html>
